:root {
    --bg-color: rgb(220, 220, 220);
    --color: rgb(13, 225, 213);
    --text-color: rgb(33, 37, 42);
    --hover-button-color: rgb(16, 225, 216);
    --input-bg-color: rgb(164, 164, 164);
    --input-hover: rgb(140, 140, 140);
}
:root[data-theme='dark'] {
    --bg-color: rgb(74, 74, 74);
    --color: rgb(61, 136, 131);
    --text-color: rgb(231, 231, 231);
    --hover-button-color: rgb(70, 149, 149);
    --input-bg-color: rgb(110, 110, 110);
    --input-hover: rgb(100, 100, 100);
}

body {
    background-color: var(--bg-color);
    margin-bottom: 4vh;
}
#container-header {
    padding-bottom: 4vw;
    position: relative;
    z-index: 0;
    border-bottom: 4px solid rgba(0, 189, 178, 0.33);
    color: var(--text-color);
    width: 100%;
}
#return-icon {
    font-size: 3vw;
    cursor: pointer;
    padding: 0.33vw;
    margin: 0 2vw 0 3vw;
    display: inline-block;
    top: 50%;
    transform: translateY(50%);
    color: var(--text-color);
}
#return-icon:hover {
    border-radius: 50%;
    color: var(--bg-color);
    background-color: var(--hover-button-color);
    transition: ease 0.2s;
}
.transparent-button {
    border: none;
    background-color: transparent;
    cursor: default;
}
.exit-button-container {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.center-button {
    width: 12vw;
    background: linear-gradient(to right, rgb(146, 219, 216), var(--color));
    color: var(--text-color);
    border-color: whitesmoke;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
    border-radius: 10% / 40%;
    text-align: center;
}
.center-button:hover, .exit-button:hover {
    color: var(--bg-color);
}
.send-report-button {
    margin-right: 2vw;
    white-space: nowrap;
    font-size: 1.3vw;
}
#class-label {
    position: absolute;
    left: 9vw;
    top: 50%;
    transform: translateY(-59%);
    font-size: 3vw;
}
.students-list-wrapper h1 {
    margin-top: 2vw;
    display: none;
    color: var(--text-color);
}
.students-list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.student-button-wrapper {
    margin-top: 2vh;
    display: inline-flex;
}
.circle {
    border-radius: 50%;
    border: 2px solid white;
    background-color: var(--color);
    padding: 1.6vw;
    height: 1vw;
    width: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(27%, 4%);
    font-size: 2vw;
    color: var(--text-color);
}
.student-button {
    border: none;
    word-wrap: break-word;
    margin-top: 0.33vw;
    background-color: var(--input-bg-color);
    line-height: 2vw;
    transition: background-color 0.4s ease;
    width: 48vw;
    font-size: 1.33vw;
    text-indent: 1vw;
    text-align: start;
    white-space: pre-wrap;
    height: auto;
    color: var(--text-color);
}
.student-button:hover {
    background-color: var(--input-hover);
}
@media screen and (max-width: 1000px) {
    body, main {
        width: auto;
        align-items: center;
        justify-content: center;
    }
    .exit-button {
        padding: 1vw 9vw;
        font-size: 4vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #return-icon {
        font-size: 9vw;
        margin-left: 7vw;
        transform: translateY(30%);
    }
    input[type="button"] {
        padding: 1vw 12vw;
        font-size: 4vw;
        line-height: 1.2;
        height: auto;
        white-space: pre-wrap;
        text-align: center;
    }
    .circle {
        padding: 5.7vw;
        transform: translate(37%, 1.6%);
        font-size: 4.3vw;
    }
    .larger-button {
        padding-bottom: 9vw;
    }
    .exit-button-container {
        transform: translate(-25%, -50%);
    }
    .send-report-button {
        padding: 1vw 13vw 1vw 4vw;
        font-size: 2vw;
        white-space: normal;
    }
    .center-button {
        max-width: 80%;
    }
}
@media screen and (min-width: 2092px) {
    .exit-button {
        padding: 0.5vw 0;
        font-size: 1.33vw;
    }
}
