:root {
    --color: rgba(0, 189, 178, 0.33);
    --text-color: rgb(33, 37, 42);
    --hover-button-color: rgb(16, 225, 216);
    --bg-pic: url("../images/bg_index.svg");
    --input-color: rgb(230, 230, 230);
}
:root[data-theme='dark'] {
    --color: rgb(61, 136, 131);
    --text-color: rgb(231, 231, 231);
    --hover-button-color: rgb(70, 149, 149);
    --bg-pic: url("../images/bg_index_dark_theme.svg");
    --input-color: rgb(174, 174, 174);
}

body {
    background-image: var(--bg-pic);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    justify-content: center;
    align-items: center;
}
#container-header {
    background-color: var(--color);
    padding-bottom: 12vh;
    display: block;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    color: var(--text-color);
}
#edu-center-container {
    position: absolute;
    bottom: 1vw;
}
#edu-center-text {
    margin-left: 12vw;
    font-size: 2vw;
    display: inline;
}
#phone-num-container {
    margin-left: 30vw;
    font-size: 2vw;
    display: inline;
}
#phone-num {
    text-decoration: none;
    color: var(--text-color);
}
#phone-pic {
    vertical-align: -2vh;
    font-size: 3vw;
}
#breadcrumb-container{
    margin-left: 13vw;
    padding-top: 7vh;
    color: var(--text-color);
    font-size: 1.3vw;
}
#active {
    color: var(--text-color);
}
.breadcrumb-item a{
    color: var(--hover-button-color);
}
#login-container {
    border: 3px solid black;
    padding-bottom: 24vh;
    box-sizing: border-box;
    color: var(--text-color);
    margin-right: 7vw;
    position: absolute;
    margin-left: 12vw;
    padding: 10vh 4vw;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3%;
}
#login-input-places-container {
    font-weight: bold;
    margin-top: 3vh;
    margin-bottom: 3vh;
    font-size: 1.6vw;
}
#login-input-places-container input{
    display: block;
    margin-bottom: 10px;
    border-radius: 0;
    margin-top: 7px;
    background-color: var(--input-color);
}

input[type="text"]:focus {
    box-shadow:  0px 0px 8px rgb(112, 112, 112);
  }
input[type="password"]:focus {
    box-shadow:  0px 0px 8px rgb(112, 112, 112);
  }

#login_button:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(12, 12, 12);
}
#login_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    border-radius: 40px 40px 40px 40px;
    font-size: 3.5vh;
    font-weight: bold;
    background-color: var(--color);
}
#login-image-container {
    display: block;
    position: absolute;
    right: 7vw;
    bottom: 0;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 0;
}
#login-image {
    border-radius: 23vw / 70vw 40vw 40vw;
    border-top-right-radius: 84vw;
    border-top-left-radius: 84vw;
    box-shadow: 0 0px 100px 10px rgba(0, 189, 178, 0.33);
}
.error-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1vw;
    color: rgb(204, 2, 4);
    font-weight: 100;
    font-size: 1.1vw;
}
.eye-toggle {
    position: absolute;
    right: 0.7vw;
    top: 64%;
    transform: translateY(-50%);
    cursor: pointer;
}
@media screen and (max-width: 1246px){
    #login-image-container {
        right: 3vw;
        size: 3vw;
        display: flex;
        flex-direction: row;
    }
    #login-container {
        margin-left: 7vw;
        background-color: rgba(247, 247, 247, 0.5);
    }
    #login-image {
        max-width: 70%;
        max-height: 60%;
        margin-right: 5vw;
    }
    #login-input-places-container {
        font-size: 3vw;
    }
    #phone-pic {
        vertical-align: -1vh;
    }
    #edu-center-text {
        font-size: 3vw;
        margin-left: 4vw;
    }
    #breadcrumb-container{
        margin-left: 7vw;
        font-size: 2vw;
    }
}
@media screen and (max-width: 480px) {
    main {
        justify-content: center;
        align-items: center;
        display: flex;
    }
    #edu-center-text {
        margin-left: 5vw;
        font-size: 6vw;
        display: flex;
    }
    #phone-num {
        margin-left: 2vw;
        font-size: 6vw;
    }
    #login-image {
        margin-right: 0vw;
        display: none;
    }
    #login-container {
        margin-top: 70vh;
    }
    #login-container a{
        font-size: 4.3vw;
    }
    #breadcrumb-container{
        padding-top: 4vh;
        font-size: 4vw;
        margin-bottom: 2vw;
    }
    #phone-num-container {
        margin-left: 4.3vw;
    }
    #phone-pic {
        vertical-align: -0.5vh;
        font-size: 7vw;
    }
}
