:root {
    --bg-color: rgb(238, 237, 237);
    --color: rgba(0, 189, 178, 0.33);
    --text-color: rgb(33, 37, 42);
    --hover-button-color: rgb(149, 219, 216);
    --switcher-slider-color: rgb(203, 201, 201);
    --hover-exit-button: rgb(248, 248, 248);
}
:root[data-theme='dark'] {
    --bg-color: rgb(74, 74, 74);
    --color: rgb(61, 136, 131);
    --text-color: rgb(231, 231, 231);
    --hover-button-color: rgb(70, 149, 149);
    --switcher-slider-color: rgb(174, 174, 174);
    --hover-exit-button: rgb(0, 0, 0);
}

body {
    background-color: var(--bg-color);
    transition: 0.3s ease;
}
header {
    display: inline;
}
#container-header {
    background-color: var(--color);
    padding-bottom: 6.6vw;
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
.theme-switch-wrapper {
    position: absolute;
    right: 20vw;
    top: 50%;
    transform: translate(0%, -50%);
}
#exit-button-container {
    position: absolute;
    right: 0;
    margin-bottom: 0.5vw;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translate(-50%, -50%);
}
.center-button {
    width: 12vw;
    background: linear-gradient(to right, rgb(146, 219, 216), var(--hover-button-color));
    color: var(--text-color);
    border-color: whitesmoke;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.6);
    border-radius: 10% / 40%;
}
#exit-button:hover {
    color: var(--hover-exit-button);
}
.theme-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.theme-switch input {
    display: none;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 33px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--bg-color);
    transition: .4s;
    border-radius: 50%;
}
input:checked + .slider {
    background-color: var(--switcher-slider-color);
}
input:checked + .slider:before {
    transform: translateX(26px);
}
.icon {
    display: none;
    position: absolute;
    color: white;
    font-size: 20px;
}
.sun {
    left: 7px;
    bottom: 5px;
}
.icon.sun img {
    width: 20px;
    height: auto;
    border-radius: 50%;
}
.icon.moon img {
    width: 25px;
    height: auto;
    border-radius: 50%;
}
.moon {
    right: 4.3px;
    bottom: 4.7px;
}
input:checked ~ .slider .moon {
    display: block;
    animation: fadeIn 0.5s;
}
input:not(:checked) ~ .slider .sun {
    display: block;
    animation: fadeIn 0.5s;
} 
@keyframes fadeIn {
    0% {
     opacity: 0;
    }
    100% { 
     opacity: 1;
    }
}
#teacher-img-container {
    margin-left: 9vw;
    display: flex;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    display: inline-table;
    position: relative;
    width: auto;
    text-align: center;
    width: 30vw;
}
#teacher-pic {
    border: 20px solid rgba(185, 223, 221, 0.7);
    border-radius: 50%;
    box-shadow: 0 0px 70px 10px var(--color);
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
}
#teacher-img-container img:hover{
    filter: blur(3px);
    transition: filter 250ms ease-in-out;
    cursor: pointer;
}
img:hover + .upload-button-label, .upload-button-label:hover {
    display: block;
}
input:hover {
    cursor: pointer;
}
#name {
    color: var(--text-color);
}
#error {
    color: rgb(213, 18, 18);
    font-size: 1.3vw;
    font-weight: 300;
}
.upload-button-label {
    position: absolute;
    top: 40%;
    left: 10.6vw;
    display: none;
}
.upload-button-label {
    text-transform: uppercase;
    font-size: 1vw;
    cursor: pointer;
    white-space: nowrap;
    padding: 4px;
    border-radius: 3px;
    width: 9vw;
    height: 2.5vw;
    background: #fff;
    animation: popDown 300ms 1 forwards;
    transform: translateY(-30px);
    opacity: 0;
    display: none;
    transition: background 200ms, color 200ms;
}
@keyframes popDown{
    100%{
      transform: translateY(0);
      opacity: 1;
    }
  }
#name-container {
    margin-top: 2vh;
    text-align: center;
}
#classes-container {
    display: inline-block;
    margin-left: 9vw;
    transform: translate(0%, 36%);
    margin-right: 2vw;
}
#classes-text {
    margin-bottom: 2vh;
    text-align: center;
    color: var(--text-color);
    font-weight: 360;
}
#class-button {
    width: 12vw;
    background: linear-gradient(to right, rgb(146, 219, 215), var(--color));
    color: var(--text-color);
    border-color: whitesmoke;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.6);
    border-radius: 10% / 40%;
    margin: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#class-button:hover {
    color: var(--hover-exit-button);
    border-color: var(--hover-button-color);
}
@media screen and (max-width: 1240px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
    }
    #classes-container {
        margin-left: 0vw;
        margin-right: 0vw;
    }
    .upload-button-label {
        min-width: 100px;
        max-width: 123px;
        top: 36%;
        left: 10.3vw;
    }
    #teacher-img-container {
        margin-left: 0;
    }
    #container-header {
        padding-bottom: 9vw;
    }
}
@media screen and (max-width: 480px) {
    body {
        width: auto;
        align-items: center;
        justify-content: center;
    }
    #teacher-img-container {
        margin-top: 3vw;
        margin-left: 30%;
        margin-right: 30%;
        width: 79vw;
        height: auto;
    }
    .upload-button-label {
        min-width: 60vw;
        min-height: 9vw;
        font-size: 4.3vw;
    }
    #container-header {
        padding-bottom: 16vw;
    }
    #class-button {
        padding: 10vw;
        margin: 2vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
        margin-top: 3vw;
        margin-bottom: 3vw;
        border-radius: 2vw;
    }
    #exit-button {
        padding: 2vw;
        padding-left: 16vw;
        padding-right: 16vw;
        display: flex;
        justify-content: center;
    }
    #exit-button-container {
        margin-right: 7vw;
        transform: translate(0%, -50%);
    }
    .theme-switch-wrapper {
        margin-right: 0vw;
        margin-left: 12vw;
        left: 0;
    }
}
@media screen and (min-width: 2092px) {
    #class-button {
        padding-top: 1vw;
        padding-bottom: 1vw;
        font-size: 1.33vw;
    }
    #exit-button {
        padding-top: 0.5vw;
        padding-bottom: 0.5vw;
        font-size: 1.33vw;
    }
    #teacher-img-container {
        width: auto;
    }
    .upload-button-label {
        min-width: 123px;
        max-width: 80px;
        margin: auto;
    }
}
