<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.css' %}">
  </head>
  <header>
    <div id="container-header">
        <div id="edu-center-container">
          <h1 id="edu-center-text">Образовательный центр №3</h1>
          <div id="phone-num-container">
              <img id="phone-pic" src="{% static 'images/call.svg' %}">
              <a href="tel:+79534576988" id="phone-num">8-953-457-69-88</a>
          </div>
        </div>
    </div>
  </header>
  <body>
    <main>
      <div id="breadcrumb-container">
          <nav aria-label="breadcrumb">
              <ol class="breadcrumb" style="margin-bottom: 1.4vh;">
                <li class="breadcrumb-item"><a href="#">Главная</a></li>
                <li id="active" class="breadcrumb-item active" aria-current="page">Личный кабинет учителя</li>
              </ol>
          </nav>
      </div>
      <div id="login-image-container">
          <img id="login-image" src="{% static 'images/login_pic.svg' %}" alt="Image">
      </div>
      <div id="login-container">
          <h2 id="teachers-cab">Кабинет Учителя</h2>
          <div id="login-input-places-container">
              <a>Логин</a>
              <input name="username" id="username" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
              <a>Пароль</a>
              <div class="position-relative">
                  <input name="password" id="password" type="password" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  <span id="toggle-password" class="eye-toggle">
                    <img class="material-symbols-outlined" src="{% static 'images/visibility.svg' %}">
                  </span>
              </div>
          </div>
          <button type="submit" class="btn btn-outline-info" id="login_button">Войти</button>
          <p class="error-message"></p>
      </div>
    </main>
	<script src="{% static 'js/index.js' %}"></script>
  </body>
</html>
