<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ученики</title>
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/pupils_page_style.css' %}">
  </head>
  <header>
    <div id="container-header">
      <form method="post">
        {% csrf_token %}
        <button class="transparent-button" name="return">
          <img id="return-icon" class="material-symbols-outlined" src="{% static 'images/arrow_back.svg' %}">
        </button>
      </form>
      <h1 id="class-label">
        Загрузка...
      </h1>
      <div class="exit-button-container">
        <button type="submit" name="send-report" class="btn btn-outline-secondary btn-lg center-button send-report-button">Отправить отчёт</button>
        <form method="post">
          {% csrf_token %}
          <button type="submit" name="logout" class="btn btn-outline-secondary btn-lg center-button exit-button">Выход</button>
        </form>
      </div>
    </div>
  </header>
  <body>
    <main>
      <form method="post">
        {% csrf_token %}
        <div class="students-list-wrapper">
          <h1></h1>
        </div>
      </form>
    </main>
	<script src="{% static 'js/pupils_page_script.js' %}"></script>
  </body>
</html>
