<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница ученика</title>
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/student_page_style.css' %}">
  </head>
  <header>
    <div id="container-header">
      <form method="post">
        {% csrf_token %}
        <button class="transparent-button" name="return">
          <img id="return-icon" class="material-symbols-outlined" src="{% static 'images/arrow_back.svg' %}">
        </button>
      </form>
      <h1 id="class-label">
        Учебная и внеучебная деятельности
      </h1>
      <div class="exit-button-container">
        <form method="post">
          {% csrf_token %}
          <button type="submit" name="logout" class="btn btn-outline-secondary btn-lg center-button exit-button">Выход</button>
        </form>
      </div>
    </div>
  </header>
  <body>
    <main>
        <div class="main-wrapper">
          <div class="profile-wrapper">
            <img id="student-image" src="{% static 'images/avatar_placeholder.jpg' %}">
            <a class="student_name">Загрузка...</a>
            <a>Группа здоровья</a>
          </div>
          <form method="post">
            {% csrf_token %}
            <div class="activities-wrapper">
            </div>
          </form>
        </div>
    </main>
	<script src="{% static 'js/student_page_script.js' %}"></script>
  </body>
</html>
